DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=playto-founding-engineer-challenge.onrender.com
CORS_ALLOWED_ORIGINS=https://playto-founding-engineer-challenge-five.vercel.app
POSTGRES_DB=playto_pay_m6bh
POSTGRES_USER=playto_pay_m6bh_user
POSTGRES_PASSWORD=K1VqruAvVM8ULSXKahURsldyB5Mkxcr0
POSTGRES_HOST=dpg-d7o8icgsfn5c73eherbg-a
POSTGRES_PORT=5432
REDIS_URL=redis://red-d7o8k3u47okc73eqce50:6379
IDEMPOTENCY_TTL_HOURS=24
VITE_API_BASE_URL=https://playto-founding-engineer-challenge.onrender.com/api/v1
VITE_MERCHANT_ID=1
