@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #102542;
  background: #f7f3e9;
  font-family: "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

